
# Relatório de Testes

## Resultados dos Testes


### Adição
- **Resultado:** PASS
- **Mensagem:** 3


### Subtração
- **Resultado:** PASS
- **Mensagem:** 2


### Multiplicação
- **Resultado:** PASS
- **Mensagem:** 6


### Divisão
- **Resultado:** PASS
- **Mensagem:** 2


### Divisão por zero
- **Resultado:** PASS
- **Mensagem:** Divisão por zero não é permitida


## Resumo

- **Total de Testes:** 5
- **Testes Bem-Sucedidos:** 5
- **Testes Fails:** 0
